<table class="form-list">
    <tr>
        <td class="scope-label">
            <button onclick="setLocation('<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/cachekiller/flushAll')?>')" type="button" class="scalable">
                <span><?php echo Mage::helper('adminhtml')->__('Flush JavaScript/CSS Timestamp') ?></span>
            </button>
        </td>
        <td class="scope-label">
            <?php echo Mage::helper('adminhtml')->__('Regenerate new timestamp.')?>
        </td>
    </tr>
</table>
<?php echo $this->getChildHtml(); ?>
